
.icon{
    background-size: 210% 210%;
    background-image: url('../images/social-media.png');
    height: 45px;
    width: 45px;
}

.l-icon{
    width: 65px;
    height: 65px;
}


#linked-in-bg .icon{
    background-position: 5% 0%;
}

#codepen-bg .icon{
    background-position: 11% 100%;
}

#facebook-bg .icon{
    background-position: 98% 100%;
}

#github-bg .icon{
    background-position: 97% 0%;
}

.s-icon{
    width: 30px;
    height: 20px;
}

.icon-column{
    display: flex;
    flex-direction: column;
}

.icon-column .s-icon{
    margin: 2.2px;
}

.black-icon{
    mix-blend-mode: exclusion;
    display: inline-block;

}

@media (max-width: 569px){
    .icon{
        width: 35px;
        height: 35px;
    }
}


