.show{
    opacity: 0.85 !important;
    pointer-events: all !important;
}

.arm-h, .link-h{ 
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

.interface-link a{
    cursor: default;
}

.interface-link, .link-h{
    z-index: 3;
    position: absolute;
    cursor: default;
}
.interface-link:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 42%;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 0px 0px transparent;
}

.interface-link:hover{
    color: rgba(255,255,255,0.6);
}


.interface-link a:hover{
    color: rgba(255,255,255,0.6);
}

.active{
    font-weight: bolder;
    background: transparent;
}
.active:hover{
    color: rgba(36,33,78, 0.55);
}

.active:before{
    width: 100%;
    position: absolute;
    left: 0;
    top: 42%;
    box-shadow: 0px 0px 50px 15px rgba(255,255,255, 0.5);
}



/* PORTFOLIO ARM2 element positioning */
#portfolio-arm2-options{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 11.6%;
    left: 75%;

}

#tag-it-link{
    top: 28%;
}
#cocktail-town-link{
    top: 62.5%;
}

#twodaystoalaska-link{
    top: 94.5%;

}

/* ABOUT ARM2 OPTIONS */

#about-arm2-options{
    position: absolute;
    width: 50%;
    height: 30%;
    top: 139.5%;
    left: 10%;

}

#about-me-link{
    left: 2%;
}

#github-link{
    flex-direction: column;
    text-align: center;
    left: 31.5%;
}

#cv-link{
    left: 65%;
}

/* CONTACT ARM 2 element positions */
#contact-arm2-options{
    position: absolute;
    width: 120px;
    height: 50%;
    left: 60%;
    top: 89%;
    display: flex;
    justify-content: flex-start;
}

#contact-arm2-revealer{
    top: 28%;
}

/* CONTACT ARM3 options (social media) */

#contact-arm3-options{
    width: 310px;
    height: 50%;
    position: absolute;
    top: 98%;
    left: 30%;

}

#contact-arm3-icons{
    position: absolute;
    height: 50%;
    top: 97.5%;
    left: calc(35% - 35px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

#contact-arm3-icons a{
    position: absolute;
}

#codepen-bg{
    top: 35%;
}

#facebook-bg{
    top: 65%;
}


.social-option{
    display: flex;
    align-items: center;
}

.social-text{
    margin-left: 16.5%;
    width: 100px;
}

#codepen-link{
    top: 32%;  
}

#facebook-link{
    top: 62%;
}

/* ARM1 positioning for all three options -- individual positioning of interface links base screen size is 1366 x 768 */
#portfolio-arm1-revealer{
    left: 63.5%;
    top: -3.5%;
}

#contact-arm1-revealer{
    left: 64%;
    top: 75%;

}

#about-arm1-revealer{
    left: 3%;
    top: 109%;
    transition: transform 1.2s ease;
    /* on activation, move 'about' option down a bit to rest on the line */
}

#about-arm1-revealer.active{
    /* transform: translateY(5%); */
}





/* media queries */
#about-arm1, #about-arm2{
    transform-origin: 50% 28%;
}

@media(min-width: 360px){
    #portfolio-arm1-revealer {
        left: 65.5%;
        top: -2.5%;
    }

    #portfolio-arm2-options {
        top: 12%;
        left: 76%;
    }

    #contact-arm1-revealer {
        left: 66%;
        top: 76.5%;
    }

    #contact-arm2-options{
        top: 90%;
    }

    #contact-arm3-options {
        top: 98.8%;
        left: 32%;    
    }

    #about-arm2-options {
        top: 140.5%;
        left: 11%;
    }

}


@media(min-width: 430px){


    #about-arm1-revealer{
        left: 3.5%;
        top: 51%;
    }


    #portfolio-arm1-revealer{
        left: 72%;
        top: -3%;
   }

    #contact-arm1-revealer{
        left: 71.6%;
        top: 55.8%;
    }

    #portfolio-arm2-options{
        left: 81.5%;
        top: 7.7%;
    }

    #tag-it-link {
        top: 21.8%;
    }
    #cocktail-town-link {
        top: 47.8%;
    }
    #twodaystoalaska-link {
        top: 72%;
    }



    #contact-arm2-options{
        left: 70%;
        top: 66%;
    }
    #contact-arm2-revealer{
        top: 22%;
    }

    #contact-arm3-options{
        left: 46%;
        top: 72.8%;
    }

    #codepen-link {
        top: 24.2%;
    }

    #facebook-link {
        top: 47.5%;
    }

    #contact-arm3-icons{
        top: 98.5%;
        left: 27%;
    }

    #contact-arm3-icons{
        left: calc(50% - 45px);
        top: 72%;
    }

    #codepen-bg {
        top: 27%;
    }
    #facebook-bg {
        top: 48%;
    }





    #about-arm2-options {
        top: 69.5%;
        left: 6.5%;
    }

    #github-link{
        left: 25%;
    }

    #cv-link{
        left: 51%;
    }

}

@media(min-width:570px){

 

    #portfolio-arm1-revealer {
        top: -1.8%;
        left: 73.5%;
    }
    #portfolio-arm2-options {
        top: 8.5%;
    }

    #about-arm2-options{
        top: 69%;
        left: 7.5%;
    }

    #about-arm1-revealer {
        left: 4.5%;
    }


    #contact-arm1-revealer {
        left: 73.5%;
        top: 57%;
    }
    #contact-arm2-options {
        top: 67.5%;
    }
    #contact-arm2-revealer{
        top: 21.5%;
    }
 

    #contact-arm3-options {
        top: 74%;
        left: 48.2%;
    }

    #contact-arm3-icons{
        left: calc(48% - 45px);
        top: 73%;
    }

    #codepen-bg{
        top: 26%;
    }
    #facebook-bg{
        top: 47%;
    }

}


@media(min-width:680px){
    g{
        stroke-width: 1;
    }

    #about-arm2-options{
        top: 66%;
        left: 7.5%;
    }

    #about-arm1-revealer {
        left: 5.2%;
        top: 48%;
    }

    #github-link {
        left: 23.5%;
    }

    #cv-link {
        left: 48.5%;
    }


    #portfolio-arm1-revealer {
        top: -1.8%;
        left: 69.5%;
    }
    #portfolio-arm2-options {
        left: 76.6%;
        top: 8.5%;
    }
    #tag-it-link {
        top: 20.8%;

    }
    #cocktail-town-link {
        top: 45%;

    }
    #twodaystoalaska-link {
        top: 67.8%;
    }





    #contact-arm1-revealer {
        left: 69.5%;
        top: 54.5%;
    }
    #contact-arm2-options {
        left: 65.8%;
    top: 64.2%;
    }
    #contact-arm2-revealer {
        top: 20%;
    }

    #contact-arm3-options {
        top: 70.5%;
    left: 45.8%;
    }
    #codepen-link {
        top: 23%;
    }
    #facebook-link {
        top: 45.1%;
    }

    #contact-arm3-icons{
        left: calc(45.5% - 45px);
        top: 70%;
    }

    #codepen-bg {
        top: 24%;
    }
    #facebook-bg {
        top: 45%;
    }
}

@media(min-width:790px){
    g{
        stroke-width: 1;
    }

    #about-arm1-revealer {
        left: 7%;
        top: 47%;
    }

    #about-arm2-options{
        top: 66.5%;
        left: 9.8%;
    }


    #github-link {
        left: 22%;
    }

    #cv-link {
        left: 45.5%;
    }

    #portfolio-arm2-options {
        left: 75.6%;
    }

}



@media(min-width:1150px){

    .sphere-links{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 14.3%;
    }

    #about-arm1-revealer{
        left: calc(34% + -463px);
        top: 400px;
    }

    #about-arm2-options{
        left: calc(34% + -433px);
        top: 564px;
    }


    #github-link {
        left: 140px;
    }

    #cv-link {
        left: 274px;
    }


    #portfolio-arm1-revealer {
        left: calc(34% + 280px);
        top: -7px;
    }
    #portfolio-arm2-options {
        left: calc(34% + 360px);
        top: 82px;
    }
    #tag-it-link {
        top: 88px;

    }
    #cocktail-town-link {
        top: 190px;

    }
    #twodaystoalaska-link {
        top: 287px;
    }



    #contact-arm1-revealer {
        left: calc(34% + 280px);
        top: 472px;
    }
    #contact-arm2-options {
        top: 556px;
    left: calc(34% + 214px);
    }

    #contact-arm2-revealer {
        top: 86px;
    }


    #contact-arm3-options {
        top: 608px;
        left: calc(34% + 11px);
    }

    #codepen-link {
        top: 96px;
    }
    #facebook-link {
        top: 188px;
    }

    #contact-arm3-icons{
        top: 588px;
         left: calc(34% + -19px);
    }

    #codepen-bg {
        top: 98px;
    }
    #facebook-bg{
        top: 188px;
        left: -5px;
    }
}



@media(max-width: 429px){
    #about-arm1{
        transform: rotate(-44deg) translate(0%, -5%);
      }

      #about-arm2{
        transform: translate(22.5%, 35%);
    }
    .optional{
        opacity: 0;
    }



}