.modal{
    overflow: hidden;
    z-index: 8;
    /* background: white; */
    border-radius: 7px;
    transition: transform 1s ease;
}

#about-modal, #contact-modal{
    position: fixed;
    /* transform: translateX(-120%); */
    transform: translate(-50%, -50%) translateX(-120%);
    height: 90%;
    top: 50%;
    /* left: 10%;
    width: 80%; */
    left: 50%;
    width: 98%;
    pointer-events: none;
    max-width: 920px;
}

#about-modal, #contact-modal, #project-cards-modal{
    visibility: hidden;
    opacity: 0;
}

#about-modal{
    max-height: 500px;
}

.show-modal{
    transform: translate(-50%, -50%) !important;
    visibility: visible !important;
    opacity: 1 !important;
}


.white-main{
    position: absolute;
  
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 8;
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    color: black;
    cursor: default;
    pointer-events: all;
    /* border-radius: 0px 0px 12px 12px; */
    /* border-left: 1px solid rgba(218, 224, 226, 0.8);
    border-bottom: 4px solid rgba(218, 224, 226, 0.8); */
    pointer-events: all;
    border-radius: 12px 12px 12px 12px;

    background: white;
}

#contact-modal .white-main{
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.overflow-allow{
    overflow-x: scroll;
    height: 100%;
}



#about-first-section{
    height: auto;
    margin-bottom: 10px;
}


#about-photo{
    width: 18vw;
    height: 18vw;
    /* min-width: 220px;
    min-height: 220px; */
    min-width: 160px;
    min-height: 160px;
    margin-right: 0;
    border-radius: 50%;
    flex-shrink: 0;
}

#about-desc{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.section a{ color: black; 
    text-decoration: underline;
    line-height: 0;
    cursor: pointer;
}
.section a:hover{ color: rgb(66, 134, 244)}

#attr-section li div{
    min-width: 120px;
    margin-left: 10px;
}

#attr-section li div:nth-child(2){
    border-right: 1px solid rgba(0,0,0,0.4);
}

#attr-section li{
    display: flex;
    margin-top: 6px;
}

.cut-out { 
    width: 50px;
    height: 40px;
    float: right;
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
  }



#about-modal .close-button, #contact-modal .close-button{
    position: absolute;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    opacity: 0.8;
    color: black;
    text-align: center;
    line-height: 12px;
    padding: 4px;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.close-button:hover{
    opacity: 0.6;
}




/* CONTACT FORM */
input[type="text"], textarea, label{
    width: 95%;
    margin-left: 2.5%;

}

.submit-div, #submit-res{
    display:flex;
    justify-content: flex-end;
    margin-right: calc(2.5% + 45px);

}

.error{
    color: red;
}

.ok{
    color: lightgreen;
}

#contact-button{
    margin-top: calc(5px + 1%);
}


@media(orientation: landscape) and (max-height: 490px){
    .grey-left{
        height: 220px;
    }
}

@media(min-width: 440px) {
    .white-main{
        background: linear-gradient(225deg, transparent 50px, rgba(255,255,255,0.97) 0);
        padding: calc(1.5% + 15px);      

    }
    #about-modal, #contact-modal{
        height: 80%;
    } 
    
}

@media(min-height: 540px){
    #contact-modal .white-main{
        height: auto;
    }
}

@media (min-width: 440px) and (orientation: portrait){
    .white-main{
        padding: 15px;      
    }
}


@media(min-width: 580px){
    #about-modal{
        width: 88%;
    }

    #contact-modal{
        width: 80%;
        max-width: 960px;
    }
    #attr-section li div{
        min-width: 140px;
    }
    #about-modal .close-button, #contact-modal .close-button{
        visibility: hidden;
        pointer-events: none;
    }
}

@media(min-width: 780px){
    #about-photo{
        min-width: 210px;
        min-height: 210px;
        margin-right: 2.5%;

    }

    #about-modal, #contact-modal{
        width: 92%;
        height: 77%;
    }

    #about-modal{
        min-height: 500px;
        max-height: 650px;
    }

    #contact-modal{
        max-width: 720px;
    }

    .about-icons{
        margin-top: calc(5px + 1%);
    }

}

@media(min-height: 800px) and (min-width: 490px){
    #about-modal .white-main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media(min-width: 850px){
  
    #about-modal, #contact-modal{
        /* left: 6%;
        width: 88%; */
        width: 80%;
    }

    .white-main{
        padding: calc(1.5% + 15px);
    }

   
}



@media(max-width: 440px) {
    #about-first-section{
        flex-direction: column;
    }
}




@media(min-width: 1300px){

    #contact-modal, #about-modal{
        transform: translate(-50%, -50%) translateX(-150%);
    }

    #contact-modal{
        max-width: 920px;
    }


    /* #about-modal{
        height: 650px;
    } */
    #about-modal{
        max-height: unset;
    }

    .white-main{
        padding: calc(2% + 15px);
    }
}

@media(min-width: 1500px){
    #attr-section li div{
        min-width: 170px;
    }
}


@media(min-width: 1700px){
    #about-photo{
        width:17vw;
        height: 17vw;
    }

    #contact-modal, #about-modal{
        max-width: 1100px;
        transform: translate(-50%, -50%) translateX(-200%);
    }

    .white-main {
        padding: calc(3.5% + 15px);
    }

}

@media(min-width: 1800px){
    #attr-section li div{
        min-width: 200px;
    }
}


